ion-card {
  background-color: transparent;
}

ion-item {
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

p {
  color: #ffffff;
  text-align: justify;
}

ion-card-title{
  color: #ffffff;
  text-align: center;
}
