<ion-content [fullscreen]="true">
    <h2>Menu</h2>
    <br><br><br><br><br>
    <div id="container">
        <ion-button size="large" expand="block" color="transparent" (click)="goToMySchedule()">Minha Agenda</ion-button>
        <br>
        <ion-button size="large" expand="block" color="transparent"(click)="goToSchedule()">Agendar</ion-button>
        <br>
        <ion-button size="large" expand="block" color="transparent"(click)="goToNoticie()">Noticias</ion-button>
        <br>
        <ion-button size="large" expand="block" color="transparent">Perfil</ion-button>
    </div>
</ion-content>
